* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Source sans pro", sans-serif;
  overflow-x: hidden; }

html {
  scroll-behavior: smooth; }
  @media only screen and (max-width: 90em) {
    html {
      font-size: 62.5%; } }
  @media screen and (max-width: 64em) {
    html {
      font-size: 60%; } }
  @media screen and (max-width: 48em) {
    html {
      font-size: 56%; } }

.heading-main {
  font-size: 4.8rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif; }

.container {
  max-width: 90rem;
  margin-inline: auto;
  padding: 2rem; }
  @media screen and (max-width: 64em) {
    .container {
      max-width: 80rem; } }
  @media screen and (max-width: 48em) {
    .container {
      max-width: 100%;
      padding-inline: 3rem; } }

.mini-container {
  max-width: 120ch;
  margin-inline: auto; }

.footer {
  background-color: #464547; }
  .footer__container {
    padding-block: 3rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(auto-fill, 5rem);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem; }
  .footer__brand {
    grid-column: 1 / span 1;
    display: flex;
    gap: 1rem; }
  .footer__logo-img {
    width: 2rem;
    height: 2rem;
    animation: spin 5s linear infinite; }
  .footer__heading {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.2em; }
  .footer__info-copyright {
    grid-column: 4 / span 1;
    grid-row: 2/3;
    justify-self: end;
    color: #666;
    font-size: 1.6rem; }
  .footer__info-mail {
    grid-column: 2 / span 1;
    color: #666;
    font-size: 1.6rem; }
  .footer__info-adress {
    grid-column: 2 / span 1;
    color: #666;
    font-size: 1.6rem; }

@keyframes spin {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }

.header {
  background-color: #111;
  min-height: 100vh;
  background-image: url(../../assets/img/header-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column; }

.nav {
  font-family: "Source sans pro", sans-serif;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem; }
  .nav__brand {
    justify-self: flex-start;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    cursor: default;
    order: 1; }
    .nav__brand:hover {
      color: #55c2d8; }
  .nav__list {
    display: flex;
    justify-self: center;
    gap: 2rem;
    transition: 0.5s;
    list-style: none;
    order: 2; }
  .nav__link {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 0.3rem 0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s; }
    .nav__link:nth-child(2) {
      border-bottom: 2px solid #fff; }
    .nav__link:hover {
      color: #55c2d8;
      border-bottom: 2px solid #55c2d8; }
  .nav__toggle {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 52;
    cursor: pointer;
    background-color: transparent;
    order: 3; }
    .nav__toggle-bar {
      background-color: #fff;
      width: 100%;
      height: 5px;
      border-radius: 2px; }
    .nav__toggle .bar-1,
    .nav__toggle .bar-2,
    .nav__toggle .bar-3 {
      transition: 0.5s; }
  .nav__btn {
    opacity: 0;
    visibility: hidden;
    order: 3; }
  .nav__btn:checked ~ .nav__list {
    transform: translateX(0); }
  .nav__btn:checked + .nav__toggle {
    position: fixed;
    top: 4rem;
    right: 3rem; }
  .nav__btn:checked + .nav__toggle .bar-1 {
    transform: translateX(-10px) rotateZ(135deg) translateY(-17px); }
  .nav__btn:checked + .nav__toggle .bar-2 {
    opacity: 0; }
  .nav__btn:checked + .nav__toggle .bar-3 {
    transform: translateX(-10px) rotateZ(-135deg) translateY(17px); }

.title {
  text-align: center;
  padding: 0.5rem 2rem;
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center; }
  .title__logo {
    border-radius: 50%; }
    .title__logo-img {
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 50%;
      -webkit-animation: coinFlip 1s linear infinite;
      animation: coinFlip 1s linear infinite; }
  .title__heading {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    line-height: 6.4rem;
    max-width: 37rem;
    margin-inline: auto; }
  .title__text {
    font-size: 2.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7); }
  .title__toggle {
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    visibility: hidden; }
    .title__toggle-bar {
      width: 100%;
      height: 5px;
      background-color: #fff; }

@-webkit-keyframes coinFlip {
  0% {
    transform: scale(1) rotateY(0deg); }
  40% {
    transform: scale(1.3) rotateY(180deg); }
  60% {
    transform: scale(1.3) rotateY(180deg); }
  90% {
    transform: scale(1) rotateY(0); }
  100% {
    transform: scale(1) rotateY(0);
    transform-style: preserve-3d; } }

@keyframes coinFlip {
  0% {
    transform: scale(1) rotateY(0deg); }
  40% {
    transform: scale(1.3) rotateY(180deg); }
  60% {
    transform: scale(1.3) rotateY(180deg); }
  90% {
    transform: scale(1) rotateY(0); }
  100% {
    transform: scale(1) rotateY(0);
    transform-style: preserve-3d; } }

.about {
  text-align: center; }
  .about__container {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
  .about__heading {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #464547; }
  .about__title {
    color: #666;
    font-weight: 400;
    font-size: 2.4rem; }
  .about__info-container {
    display: flex;
    gap: 5rem; }
  .about__info {
    font-size: 1.6rem;
    color: #666;
    font-weight: 400;
    text-align: left;
    flex-basis: 50%; }
  .about__btn {
    background-color: #55c2d8;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1.8rem;
    align-self: center;
    cursor: pointer;
    transition: all 0.1s; }
    .about__btn:hover {
      background-color: #2fb1cb;
      transform: rotateZ(5deg);
      transform-origin: top left; }

.learn {
  text-align: center; }
  .learn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; }
  .learn__heading {
    font-size: 4.8rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #ffffff; }
  .learn__play {
    position: relative;
    height: 14rem;
    width: 14rem;
    background-color: #39c2d7;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: all 0.2s; }
    .learn__play:hover {
      background-color: #fff;
      color: #55c2d8; }
    .learn__play:hover .learn__play-btn {
      color: #55c2d8; }
    .learn__play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 8rem;
      transform: translate(-37%, -50%);
      z-index: 5;
      color: #fff; }
  .learn__text {
    font-size: 2.4rem;
    color: #fff; }

.section > * {
  padding: 8rem 0; }

.section__about {
  background-color: #eee;
  min-height: 20rem; }

.section__learn {
  background-image: linear-gradient(rgba(141, 80, 42, 0.3), rgba(141, 80, 42, 0.3)), url(../../assets/img/learn-bg.png);
  background-size: cover;
  background-position: bottom; }

@media only screen and (max-width: 48em) {
  .nav__btn {
    display: none; }
  .nav__list {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 8rem 15rem;
    background-color: rgba(56, 56, 56, 0.5);
    backdrop-filter: blur(3rem);
    gap: 5rem;
    z-index: 5;
    transform: translateX(100%);
    order: 3; }
  .nav__link {
    font-size: 2rem;
    padding: 3rem 0; } }

@media only screen and (max-width: 48em) and (max-width: 48em) {
  .footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem; } }

@media only screen and (max-width: 64em) {
  .about__info-container {
    flex-direction: column;
    gap: 2rem; }
  .about__info {
    flex-basis: 100%; } }

@media only screen and (min-width: 48em) {
  .nav__toggle {
    opacity: 0;
    order: 2;
    display: none; } }
